body {
  background-color: #ffffff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.background-div {
  background-color: #293C56;
  position: absolute;
  min-height: 100%;
  padding-bottom: 60px;
  box-sizing: border-box;
  top: 34vh;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.card {
  background: ghostwhite;
  margin: 10vh auto 0; /* Adjusted margin to make it overlap */
  max-width: 600px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 2px;
  position: relative; /* To ensure it sits above the background div */
  overflow: visible;
  z-index: 2; /* Higher z-index to overlap */
  margin-top: -10vh; /* Negative margin to overlap with the white background */
  margin-bottom: 40px;
}

.tabs-container {
  margin-bottom: 20px;
  border-bottom: 1px solid #000000; /* This creates the line under the tabs */
  padding-bottom: 1px;
  z-index: 10;
}

.tabs {
  display: flex;
  justify-content: space-around; /* This will evenly space the tabs */
  padding-bottom: 0; /* Space between tabs and the line */
}

.tabs button {
  cursor: default; /* Prevents the cursor from changing to a pointer */
  pointer-events: nothing;
  padding: 10px 20px;
  border: none;
  background: silver;
  /* cursor: pointer; */
  flex-grow: 1; /* Allows tabs to grow and fill the space */
  margin: 0 5px; /* Adds space between tabs */

  /* Individual corner border radii */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.procurement-item {
  margin-bottom: 20px;
}

.procurement-item h3 {
  margin-bottom: 5px; /* Reduced from whatever it was before */
}

.input-group {
  display: flex;
  gap: 10px; /* Space between inputs */
  justify-content: center;
  margin-top: 5px;
}

.input-group input {
  flex-grow: 1; /* Allows inputs to grow and take up available space */
  width: auto; /* Reset the width for flex items */
  margin: 0;
  padding: 5px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .input-group {
    flex-direction: column;
  }

  .input-group input {
    width: 80%; /* Full width on mobile */
    margin: 5px auto; /* Center inputs with some vertical spacing */
  }
}


.tabs button.active {
  background: #007bff;
  color: white;
  border-bottom: 3px solid #0056b3; /* A visual indicator for the active tab */
}

/* Ensure no other CSS rule is overriding the default pointer */
.tabs button, .tabs button:hover, .tabs button:focus, .tabs button:active {
  cursor: default !important;
}

.tab-content {
  padding: 20px;
}

h2, form, p {
  text-align: center;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
}

.cta-button {
  background-color: #28a745;
  padding: 15px 30px;
  font-size: 1.1em;
}

.button-container {
  text-align: right; /* Aligns the button to the right within the form */
  padding-right: 10%; /* Adjust as necessary to align with form inputs */
}

button {
  margin: 10px 5px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: silver;
  cursor: not-allowed;
}

.city-county-info h4 {
  margin: 5px 0;
  color: #333; /* Adjust color as needed */
}

.city-county-info h3 {
  margin-bottom: 3px; /* Reduced space below the heading */
}

.city-county-info p {
  font-size: 0.85em; /* Smaller font size */
  font-style: italic; /* Italic style */
  margin: 0 0 14px 0; /* Less space above, no space below */
}

.city-county-info {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px; /* Add some padding for better visual appearance */
  background-color: #e6f3ff; /* Light blue background */
  border: 1px slategray solid;
  border-radius: 3px; /* Optional: for rounded corners */
}

.calculation-table {
  display: inline-table;
  width: auto;
  margin-top: 10px auto;
  border-collapse: collapse;
}

.table-header, .table-row {
  display: table-row;
}

.table-header div, .table-row div {
  display: table-cell;
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
  width: 150px; /* Set a fixed width for all cells */
  min-width: 150px; /* Ensures the cell doesn't shrink below this width */
  max-width: 150px; /* Ensures the cell doesn't expand beyond this width */
  overflow: hidden; /* Optional: hides overflow if content is too long */
  white-space: nowrap; /* Prevents text from wrapping to next line */
}

.table-header {
  font-weight: bold;
  background-color: #f2f2f2;
}

.table-row:nth-child(even) {
  background-color: #f9f9f9;
}
