body {
  background-color: #ffffff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0; /* Ensure no padding interferes with full height */
  margin: 0; /* Reset margin */
}

.background-div {
  background-color: #293C56;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 34vh 15px 60px; /* Adjust padding for mobile */
  box-sizing: border-box;
  padding-bottom: 60px;
  z-index: 1;
  position: relative;
}

.card-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative; /* For absolute positioning of card if needed */
}

.card {
  background: ghostwhite;
  margin: -7vh auto 0;
  max-width: 600px;
  width: 100%; /* Full width on mobile, but respects max-width */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 2px;
  position: absolute;
  top: 0; /* Negative value to create overlap */
  left: 50%; /* Center the card horizontally */
  transform: translateX(-50%); /* Adjust for true centering due to absolute positioning */
  width: 80%;
  overflow-y: auto;
  z-index: 1;
  flex-shrink: 0; /* Prevents the card from shrinking */
  margin-bottom: 20px;
}

.tabs-container {
  margin-bottom: 20px;
  border-bottom: 1px solid #000000; /* This creates the line under the tabs */
  padding-bottom: 1px;
  z-index: 10;
}

.tabs {
  display: flex;
  justify-content: space-around; /* This will evenly space the tabs */
  padding-bottom: 0; /* Space between tabs and the line */
}

.tabs button {
  cursor: default; /* Prevents the cursor from changing to a pointer */
  pointer-events: nothing;
  padding: 10px 20px;
  border: none;
  background: silver;
  /* cursor: pointer; */
  flex-grow: 1; /* Allows tabs to grow and fill the space */
  margin: 0 5px; /* Adds space between tabs */

  /* Individual corner border radii */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.procurement-item {
  margin-bottom: 20px;
}

.procurement-item h3 {
  margin-bottom: 5px; /* Reduced from whatever it was before */
}

.input-group {
  display: flex;
  gap: 10px; /* Space between inputs */
  justify-content: center;
  margin-top: 5px;
}

.input-group input {
  flex-grow: 1; /* Allows inputs to grow and take up available space */
  width: auto; /* Reset the width for flex items */
  margin: 0;
  padding: 5px;
  height: auto;
}

.input-group select {
  height: 40px;
  margin:0;
  padding-top: 5px;
  border: 1px solid #ccc;
}

.tabs button.active {
  background: #007bff;
  color: white;
  border-bottom: 3px solid #0056b3; /* A visual indicator for the active tab */
}

/* Ensure no other CSS rule is overriding the default pointer */
.tabs button, .tabs button:hover, .tabs button:focus, .tabs button:active {
  cursor: default !important;
}

.tab-content {
  padding: 20px;
}

h1, h2, h3, form, p {
  text-align: center;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
}

.cta-button {
  background-color: #28a745;
  padding: 15px 30px;
  font-size: 1.1em;
}

.button-container {
  text-align: right; /* Aligns the button to the right within the form */
  padding-right: 10%; /* Adjust as necessary to align with form inputs */
}

button {
  margin: 10px 5px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: silver;
  cursor: not-allowed;
}

.city-county-info h4 {
  margin: 5px 0;
  color: #333; /* Adjust color as needed */
}

.city-county-info h3 {
  margin-bottom: 3px; /* Reduced space below the heading */
}

.city-county-info p {
  font-size: 0.85em; /* Smaller font size */
  font-style: italic; /* Italic style */
  margin: 0 0 14px 0; /* Less space above, no space below */
}

.city-county-info {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px; /* Add some padding for better visual appearance */
  background-color: #e6f3ff; /* Light blue background */
  border: 1px slategray solid;
  border-radius: 3px; /* Optional: for rounded corners */
}

.calculation-table {
  display: inline-table;
  width: auto;
  margin-top: 10px auto;
  border-collapse: collapse;
}

.title {
  margin-bottom: 5em;
}

.table-header, .table-row {
  display: table-row;
}

.table-header div, .table-row div {
  display: table-cell;
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
  width: 150px; /* Set a fixed width for all cells */
  min-width: 150px; /* Ensures the cell doesn't shrink below this width */
  max-width: 150px; /* Ensures the cell doesn't expand beyond this width */
  overflow: hidden; /* Optional: hides overflow if content is too long */
  white-space: nowrap; /* Prevents text from wrapping to next line */
}

.table-header {
  font-weight: bold;
  background-color: #f2f2f2;
}

.table-row:nth-child(even) {
  background-color: #f9f9f9;
}

.input-wrapper {
  position: relative;
  margin-top: 20px;
}

.input-wrapper input {
  padding: 10px 10px 10px 5px;
  font-size: 16px;
  border: 1px solid #444;
  /* border-bottom: 2px solid #ccc; */
  border-radius: 3px; /* Remove any border radius for a flat look */
  width: 200px;
  background: #fff;
}

.input-wrapper label {
  position: absolute;
  top: -10px;
  left: 5px;
  font-size: 12px;
  color: #444;
  transition: all 0.2s;
  background: ghostwhite;
  padding: 0 5px;
  pointer-events: none;
}

.select-wrapper {
  position: relative;
  margin-top: 20px;
}

.select-wrapper select {
  border: 1px solid #444;
  border-radius: 3px;
  color: #444;
  font-size: 16px;
}

.left-justify {
  text-align: left;
}

.current-procurement {
  color:#444;
}

.procurement-details {
  margin-top: 2em;
}

.results-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 10px;
  width: 100%;
}

.grid-header, .grid-cell {
  padding: 10px;
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 4px;
}

.grid-header {
  font-weight: bold;
  background-color: #e0e0e0;
}

.mobile-label {
  display: none;
}

.default-label {
  display: block;
}

.unit-label {
  display: none; /* Hidden by default for larger screens */
  margin-bottom: 5px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .input-group {
    flex-direction: column;
  }

  .input-group input {
    width: 80%; /* Full width on mobile */
    margin: 5px auto; /* Center inputs with some vertical spacing */
  }

  .input-wrapper label {
    position: absolute;
    top: -15px;
    left: 2em;
    font-size: 12px;
    color: #444;
    transition: all 0.2s;
    background: ghostwhite;
    padding: 0 5px;
    pointer-events: none;
  }
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .background-div {
    padding-top: 20vh; /* Less overlap on mobile for better visibility */
  }

  .card {
    margin-top: -5vh; /* Adjust overlap for mobile */
    max-width: none; /* Allow card to take full width */
    width: calc(90% - 30px); /* Adjust width for padding */
    left: 15px; /* Adjust left to align with padding */
    transform: none; /* Reset transform for mobile */
  }
  .grid-container {
    grid-template-columns: 1fr; /* Stack vertically on mobile */
  }
  .header {
    display: none; /* Optionally hide headers on mobile */
  }
  .grid-item:nth-child(odd) { /* Style for year on mobile */
    font-weight: bold;
    background-color: #e0e0e0;
  }
  .input-group {
    flex-direction: row; /* Keep row direction */
    justify-content: space-between; /* Space evenly */
  }

  .input-wrapper, .select-wrapper {
    flex: 1 1 calc(33.333% - 10px); /* Roughly a third of the container minus gap */
    margin-bottom: 5px; /* Space if they wrap */
  }
  .mobile-label {
    display: block;
    /* Additional mobile styling if needed */
    font-size: 0.8em;
    margin-bottom: 5px;
  }

  .default-label {
    display: none;
  }
  .unit-label {
    display: block; /* Show on mobile */
    font-size: 0.8em;
  }

  .select-wrapper {
    display: flex;
    flex-direction: column;
  }

  /* Optionally, if you want to style the first option differently on mobile */
  .option-value {
    color: grey; /* To mimic placeholder text color */
  }

  select:invalid {
    color: grey; /* Ensures the 'Select' option text color is grey until a selection is made */
  }

  select option {
    color: black; /* Normal color for other options */
  }
}
